{% extends 'insta/base.html' %}

{% block content %}
<h1>THIS IS THE HOMEPAGE</h1>


{% if request.user.is_authenticated %}
<button><a href="{% url 'y' %}">+</a></button>
{% endif %}


<div class="">
    {% for p in posts %}
        <a href="{% url 'single-post' post_id=p.id %}" class="card mx-auto text-dark text-decoration-none" style="width: 18rem;">
            <img src="{{ p.img_url }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ p.author }}</h5>
            <p class="card-text">{{ p.caption }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}