<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="{% url 'about' %}">About</a>
          <a class="nav-link" href="{% url 'x' %}">Contact Us</a>

          {% if request.user.is_authenticated %}
          <a href='#' class="nav-link">Hello, {{ request.user }}</a>
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
</nav>